<h1>Nous allons créer un item !</h1>

<form {{action 'HandleCreateItem' on='submit'}}>
    <label for="name">Créer un item :</label>
    <input type="text" id="name" required="true">
    <button type="submit" >Créer</button>
</form>
