<label for="username">Username</label>
<Input 
    type="text" 
    id="username" 
    @value={{this.model.username}} 
    required="true" 
    class="input"
/>

<label for="price">Password</label>

<Input 
    type="text" 
    id="password"
    @value={{this.model.password}} 
    required="true" 
    class="input "
/>

<Input {{on "click" this.create}}
    @type="button"
    @value="Créer"
    @class="button
    is-primary"
/>