{{!-- The following component displays Ember's default welcome message. --}}

<nav>
  <LinkTo @route="index" class="btn">Home</LinkTo>

  {{!-- if user is authenticated, display logout button --}}
  {{#if this.session.isAuthenticated}}

    <LinkTo @route="protected" class="btn">Protected</LinkTo>
    <Input {{on 'click' this.invalidateSession}}
      @type="button"
      class="btn"
      @value="Logout"
    />

  {{else}}

    <LinkTo @route="login" {{on 'click' this.sessionRequiresAuthentication}} class="btn">Login</LinkTo>
    <LinkTo @route="register" class='btn'>Register</LinkTo>

  {{/if}}
</nav>

<div id="main" class="main">
{{outlet}}
</div>