{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}

<nav>
  <LinkTo @route="index">Home</LinkTo>
  {{!-- if user is authenticated, display logout button --}}
  {{#if session.isAuthenticated}}
    <LinkTo @route="protected">Protected</LinkTo>
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    <LinkTo @route="login" {{action 'sessionRequiresAuthentication'}} >Login</LinkTo>
  {{/if}}
</nav>

<div id="main">
{{outlet}}
</div>