{{!-- The following component displays Ember's default welcome message. --}}

<nav class="navbar">
  {{!-- <LinkTo @route="index" class="btn navbar-item">Home</LinkTo> --}}

  {{!-- if user is authenticated, display logout button --}}
  {{#if this.session.isAuthenticated}}

    <LinkTo @route="item" class="btn navbar-item">Item</LinkTo>
    <Input id='logout' {{on 'click' this.invalidateSession}} @type="button" class="navbar-item" @value="Logout" />

  {{else}}
{{!-- 
    <LinkTo @route="login" class="btn navbar-item">Login</LinkTo>
    <LinkTo @route="register" class='btn navbar-item'>Register</LinkTo> --}}

  {{/if}}
</nav>

<div id="main" class="main">
{{outlet}}
</div>