{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}

<nav>

  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="protected">Protected</LinkTo>

  {{!-- if user is authenticated, display logout button --}}
  {{#if this.session.isAuthenticated}}
    <button type="button" {{on 'click' this.logout}}>Logout</button>
  {{else}}
    <LinkTo @route="login">Logout</LinkTo>
  {{/if}}
</nav>

{{outlet}}