<h1>Login</h1>

<label for="identification">Login</label>
<Input
  id='identification'
  placeholder='Enter Login'
  @value={{this.identification}}
/>

<label for="password">Password</label>
<Input
  id='password'
  placeholder='Enter Password'
  @type='password'
  @value={{this.password}}
/>
<Input {{on "click" this.authenticate}}
  @type="button"
  @value="Login"
  @class="button is-primary"
/>
{{#if this.errorMessage}}
  <p class="errorMsg">{{this.errorMessage}}</p>
{{/if}}
